<!-- show user info -->
<div class="row">
  <div class="col-xs-12 col-sm-6 avatar-container">
    <%= show_avatar(@user.avatar) %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h1><%= @user.name %></h1>
    <p><b><%= @user.email %></b></p>
    <p><%= @user.intro %></p>
    <% if @user == current_user %>
      <%= link_to('Edit profile', edit_user_path(@user), class: 'btn btn-default') %>
      <%= link_to(edit_user_registration_path, class: "nav-text btn btn-default") do %>
        <%= "#{image_tag("key.svg", class: "nav-icon")} Edit password".html_safe %>
      <% end %>
      <%= link_to(check_friendship_path(@user), class: "nav-text btn btn-default") do %>
        Friendship requests <div class="notification"><%= count_request %></div>
      <% end %>
    <% end %>
    <%= render partial: "shared/follow", locals: {user: @user} %> 
    <%= render partial: "shared/friend", locals: {user: @user} %> 
</div><br> 
<hr>

<!-- about restaurants: commented and favorited -->
<div class="row">
  <div class="col-xs-12">
    <!-- commented restaurants -->
    <%= render partial: "shared/users_restaurants", locals: {restaurants: @commented_restaurants, title_text: '已評論餐廳', collapse_target: 'commented_restaurants'} %> 
    
    <!-- favorited restaurants -->
    <%= render partial: "shared/users_restaurants", locals: {restaurants: @favorited_restaurants, title_text: '收藏的餐廳', collapse_target: 'favorited_restaurants'} %> 
  </div>
</div>

<!-- about users: followings and followers -->
<div class="row">
  <div class="col-xs-12">
    <!-- followings -->
    <%= render partial: "shared/users_relationships", locals: {relationships: @user.followings, title_text: 'followings', collapse_target: 'followings'} %> 
    
    <!-- followers -->
    <%= render partial: "shared/users_relationships", locals: {relationships: @user.followers, title_text: 'followers', collapse_target: 'followers'} %> 

    <!-- all_friends -->
    <%= render partial: "shared/users_relationships", locals: {relationships: @all_friends, title_text: 'all_friends', collapse_target: 'friends'} %> 

  </div>


</div>

  <!-- button : back -->
<div class="row">
  <div class="col-md-12 text-center">
    <%= render partial: '/shared/backBtn' %>
  </div>
</div>
  <br>
