<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <%= show_navtabs('root') %><%= link_to '首頁', root_path %></li>
      <%= show_navtabs('feed') %><%= link_to '最新動態', feed_restaurants_path %></li>
      <%= show_navtabs('ranking') %><%= link_to 'TOP10人氣餐廳', ranking_restaurants_path %></li>
    </ul>
  </div>
</div>

