<!-- restaurants list，有多寫restaurant-item的class style -->
<% @restaurants.each_with_index do |restaurant, i| %>
  <div class="col-sm-6 col-md-4">
    <%= link_to restaurant_path(restaurant), class: "card" do  %>
      <div class="restaurant-item">
        <%= File.exist?('public'+image_path(restaurant.image)) %>
        <%= File.directory?('public'+image_path(restaurant.image)) %>
        <% if File.exist?('public'+image_path(restaurant.image)) && !File.directory?('public'+image_path(restaurant.image)) %>
          <!--<%= image_tag restaurant.image, class: "img-responsive center-block" %>-->
          <% for img_id in 0..20 %>
            <% if image_path(restaurant.image).include?('/'+img_id.to_s+'.jpg') %>
              <%= image_tag(('/seed_img/'+img_id.to_s+'.jpg'), class: "img-responsive center-block") %>
            <% end %>
          <% end %>
        <% else %> 
          <span class="glyphicon glyphicon-picture"></span>[沒有圖片]
        <% end %>
        <div class="caption">
          <h3><%= restaurant.name %></h3>
          <p class="label label-default"><%= restaurant.category.name %><p>
          <p class="description"><%= truncate(restaurant.description, length: 80) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= clearfixer(i) %>
<% end %>
<!-- 有generate kaminari paginate bootstrap style -->
<div class="col-sm-12">
  <div class="text-center">
    <%= paginate @restaurants %>
  </div>
</div>