<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= restaurants.count %> <%= title_text %>
      <button type="button" class="collapsed" data-toggle="collapse" data-target=<%= "##{collapse_target}" %> aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </h3>
  </div>
  <div class="panel-body collapse" id=<%= "#{collapse_target}" %>>
    <% restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant), class: "card" do  %>
        <div class="my-restaurant">
          <div><%= show_restaurant_img(restaurant.image) %></div>
          <p class="text-center"><%= restaurant.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>