
<h1 class="text-center">Manager Mode</h1>
<!-- some sorting elements -->
<br>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <table class="table table-striped">
      <tr>
        <td><%= sortable('name', @current_title) %></td>
        <td colspan="3">
          <%= link_to new_admin_restaurant_path() do %>
            <%= "#{image_tag("add-restaurant.svg", class: "nav-icon")}New Restaurant".html_safe %>

          <% end %>
        </td>
      </tr>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= link_to 'Show', admin_restaurant_path(restaurant), :class => "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant), :class => "btn btn-default" %></td>
        <td><%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data:{confirm:"Are you sure?"}, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
    </table>
    <div class="text-center"><%= paginate @restaurants %></div>

  </div>
</div>

