
<h1 class="text-center ">Manager Mode</h1>
<div class="text-center">
  <%= link_to "Restaurants",admin_restaurants_path %> | <%= link_to "Categories", admin_categories_path %>
</div>
<!-- some sorting elements -->
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <table class="table table-striped">
      <tr>
        <th><%= sortable('ID', @current_title) %></th>
        <td><%= sortable('Name', @current_title) %></td>
        <td><%= sortable('Category', @current_title) %></td>
        <!-- <td>Category</td> -->
        <td>
          <%= link_to new_admin_restaurant_path() do %>
            <%= "#{image_tag("add-restaurant.svg", class: "nav-icon")} New Restaurant".html_safe %>

          <% end %>
        </td>
      </tr>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <th scope="row"><%= restaurant.id %></td>
        <td><%= restaurant.name %></td>
        <% if restaurant.category_name.nil? %>
          <td>[未分類]</td>
        <% else %>
          <td>[<%= restaurant.category_name %>]</td>  
        <% end %>
        
        <td>
          <%= link_to 'Show', admin_restaurant_path(restaurant), :class => "btn btn-default" %>
          <%= link_to 'Edit', edit_admin_restaurant_path(restaurant), :class => "btn btn-default" %>
          <%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data:{confirm:"Are you sure?"}, :class => "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </table>
    <div class="text-center"><%= paginate @restaurants %></div>

  </div>
</div>

