<% if @restaurant.errors.any? %>
  <h2>We have some errors here!</h2>
  <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [:admin, @restaurant] do |f| %>
  <%= f.label :name, "Name" %>
  <%= text_field :name %>

  <%= f.label :tel, "Tel" %>
  <%= text_field :tel %>

  <%= f.label :address, "Address" %>
  <%= text_field :address %>

  <%= f.label :opening_hours, "Oening Hours" %>
  <%= text_field :opening_hours %>

  <%= f.label :description, "Description" %>
  <%= text_field :description %>
  <%= submit %>
<% end %>