<div class="row">
  <div class="col-md-12">
    <h1 class="text-center"><%= @restaurant.name %></h1>
    <p class="text-center">
      <% if @restaurant.category_name.nil? %>
        [未分類] <br>
      <% else %>
        [<%= @restaurant.category_name %>] <br>
      <% end %>
    </p>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <%= show_restaurant_img(@restaurant.image, "img-responsive center-block") %>
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><b>Opening Hour:</b> <%= @restaurant.opening_hours %></li>
        <li><b>Tel:</b> <%= @restaurant.tel %></li>
        <li><b>Address:</b> <%= @restaurant.address %></li>
      </ul>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <%= simple_format @restaurant.description %>
  </div>
  <hr>
  <div class="col-md-12 text-center">
    <%= link_to :back, class: "btn btn-default" do %>
      <%= "#{image_tag("return.svg", class: "nav-icon")} Back".html_safe %>
    <% end %>
  </div>
  <br>
</div>
