<h1>Credit: photos</h1>
<div class="row">
  <!-- 1 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/6/bar-pub-restaurant-rustic-barrels-people-sitting.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/2d472d">VisualHunt</a>
  </div>
  <!-- 2 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/1/restaurant-fast-food-burgers.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/af597c">Visual hunt</a>
  </div><div class="clearfix hidden-xs hidden-md"></div>
  <!-- 3 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/1/restaurant-lighting-lobster-neon.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/af597c">Visualhunt</a>
  </div><div class="clearfix hidden-xs hidden-sm"></div>
  <!-- 4 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/cook-indoor-restaurant.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/af597c">Visualhunt</a>
  </div><div class="clearfix hidden-xs hidden-sm hidden-md"></div>
  <!-- 5 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/1/chief-preparing-food-in-restaurant-kitchen.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/693b6f">VisualHunt</a>
  </div>
  <!-- 6 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/foods-personalities-cooked-food.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/00677c">VisualHunt.com</a>
  </div><div class="clearfix hidden-xs"></div>
  <!-- 7 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/industri-lifestyle-tables.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/00677c">VisualHunt.com</a>
  </div>
  <!-- 8 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/1/people-having-good-time-in-restaurant.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/693b6f">Visualhunt.com</a>
  </div><div class="clearfix hidden-xs hidden-md"></div>
  <!-- 9 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/architecture-store-building.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/af597c">VisualHunt.com</a>
  </div><div class="clearfix hidden-xs hidden-sm"></div>
  <!-- 10 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/1/aerial-view-of-cafe-with-girlfriends-sitting-at-table-and-talking.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/7a78a8">Visual Hunt</a>
  </div><div class="clearfix hidden-xs hidden-md"></div>
  <!-- 11 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://farm6.staticflickr.com/5216/5457975881_3380807a64_b.jpg" class="img-responsive center-block">
    Photo credit: <a href="https://visualhunt.com/author/52babf">Thomas Hawk</a> on <a href="https://visualhunt.com/re/af597c">VisualHunt.com</a> / <a href="http://creativecommons.org/licenses/by-nc/2.0/"> CC BY-NC</a>
  </div>
  <!-- 12 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://farm3.staticflickr.com/2906/14093307463_64a1a311ff_b.jpg" class="img-responsive center-block">
    Photo credit: <a href="https://visualhunt.com/author/e10889">Thomas Hawk</a> on <a href="https://visualhunt.com/re/af597c">Visualhunt</a> / <a href="http://creativecommons.org/licenses/by-nc/2.0/"> CC BY-NC</a>
  </div><div class="clearfix hidden-xs"></div>
  <!-- 13 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://farm3.staticflickr.com/2872/32972450516_05ff30411b_b.jpg" class="img-responsive center-block">
    Photo credit: <a href="https://visualhunt.com/author/ff5e57">Ted's photos - Back Friday</a> on <a href="https://visualhunt.com/re/2d472d">Visual Hunt</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/"> CC BY-NC-SA</a>
  </div>
  <!-- 14 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://farm9.staticflickr.com/8244/8616629194_3c79b4e1d7_z.jpg" class="img-responsive center-block">
    Photo credit: <a href="https://visualhunt.com/author/b02d7c">Thomas Hawk</a> on <a href="https://visualhunt.com/re/af597c">Visualhunt.com</a> / <a href="http://creativecommons.org/licenses/by-nc/2.0/"> CC BY-NC</a>
  </div><div class="clearfix hidden-xs hidden-md"></div>
  <!-- 15 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://farm3.staticflickr.com/2057/2140096135_a552cf87e5_b.jpg" class="img-responsive center-block">
    Photo credit: <a href="https://visualhunt.com/author/6932dd">PinkMoose</a> on <a href="https://visualhunt.com/re/af597c">Visualhunt</a> / <a href="http://creativecommons.org/licenses/by/2.0/"> CC BY</a>
  </div><div class="clearfix hidden-xs hidden-sm"></div>
  <!-- 16 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://farm1.staticflickr.com/22/24621573_64653e935f_b.jpg" class="img-responsive center-block">
    Photo credit: <a href="https://visualhunt.com/author/9d60e8">Thomas Hawk</a> on <a href="https://visualhunt.com/re/693b6f">Visual hunt</a> / <a href="http://creativecommons.org/licenses/by-nc/2.0/"> CC BY-NC</a>
  </div><div class="clearfix hidden-xs hidden-md"></div>
  <!-- 17 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/restaurant-shellfish-hand-phone.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/693b6f">VisualHunt</a>
  </div>
  <!-- 18 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/take-away-savory-stir-fry.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/693b6f">Visualhunt.com</a>
  </div><div class="clearfix hidden-xs"></div>
  <!-- 19 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/man-meal-person.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/693b6f">Visual Hunt</a>
  </div>
  <!-- 20 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/food-male-man.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/693b6f">VisualHunt.com</a>
  </div><div class="clearfix hidden-xs hidden-md"></div>
  <!-- 21 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/food-market-food-market.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/693b6f">Visualhunt.com</a>
  </div><div class="clearfix hidden-xs hidden-sm"></div>
  <!-- 22 -->
  <div class="col-sm-6 col-md-4 restaurant-item">
    <img src="https://visualhunt.com/photos/l/7/street-night-sign.jpg" class="img-responsive center-block">
    Photo via: on <a href="https://visualhunt.com/re/693b6f">VisualHunt</a>
  </div><div class="clearfix hidden-xs hidden-md"></div>
</div>

<hr>

<h1>Credit: icons</h1>
<div class="row">
  <div class="col-sm-6 col-md-4 restaurant-item">
    <%= image_tag("return.svg", class: "nav-icon") %>
    <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
  <div class="col-sm-6 col-md-4 restaurant-item">
    <%= image_tag("change.svg", class: "nav-icon") %>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div><div class="clearfix hidden-xs hidden-md"></div>
  <div class="col-sm-6 col-md-4 restaurant-item">
    <%= image_tag("key.svg", class: "nav-icon") %>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>

  <hr>

  <div class="text-center">
    <%= link_to :back, class: "btn btn-default" do %>
      <%= "#{image_tag("return.svg", class: "nav-icon")} Back to index".html_safe %>
    <% end %>
  </div>
<br>