<div class="row">
  <div class="col-sm-12">
    <%= render partial: "navtabs" %> 
  </div>
</div>
<div class="row">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><%= link_to "全部餐廳", root_path %></li>
    <% @categories.each do |category| %>
      <li role="presentation"><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
  <div class="col-sm-12 text-center sort-name"><%= sort_name(@current_direction) %></div> 
  <br>
  <%= render partial: "shared/restaurant_list" %>  
</div>
  
