<h1 class="text-center ">Restaurant Categories</h1>
<div class="text-center">
  <%= link_to "Restaurants",admin_restaurants_path %> | <%= link_to "Categories", admin_categories_path %>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">

    <!-- button for adding category -->
    <div class="form-inline">
      <%= form_for [:admin, @category] do |f| %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Category Name", class: "form-control" %>
        </div>
        <%= f.submit class: "btn btn-primary" %>
        <% if @category.errors.any? %>
          <%= @category.errors.full_messages.to_sentence %>
        <% end %>
      <% end %>
    </div>
    
    <br>

    <!-- table shows categories  -->
    <table class="table table-striped">
      <tr>
        <td>#</td>
        <td colspan="2">Category Name</td>
      </tr>
      <% @categories.each do |category| %>
        <tr>
          <th scope="row"><%= category.id %></th>
          <td><%= category.name %></td>
          <td>
            <%= link_to "Edit", admin_categories_path(id: category.id), :class => "btn btn-default" %>
            <%= link_to 'Delete', admin_category_path(category), method: :delete, data:{confirm:"Are you sure?\nThere's #{category.restaurants.size} associated restaurants.\nThey will change to default: #{@default_category.name}"}, :class => "btn btn-danger" %>  
            </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>