<!DOCTYPE html>
<html>
  <head>
    <title>RestautantForum</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar-fixed-top my-nav navbar navbar-default">
      <div class="container" id="nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <a class="navbar-brand" href="/">Fake yelp</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="pull-right nav navbar-nav">
            <% if current_user %>
              <li class="with_icon">
                <!-- Button for admin to switch between front and back -->
                <% if current_user.role == 'admin' %>
                  <% if request.url.include? 'admin' %>
                    <!-- Computer Upload by Andrejs Kirma from the Noun Project -->
                    <%= link_to  root_path do %>
                    <!-- si-glyph-person-door-man.svg -->
                      <%= "#{image_tag("change.svg", class: "nav-icon")} switch view".html_safe %>
                    <% end %>
                  <% else %>
                    <%= link_to admin_restaurants_path do %>
                      <%= "#{image_tag("change.svg", class: "nav-icon")} switch view".html_safe %>
                    <% end %>
                  <% end %>
                <% end %>
              </li>
              <li class="non-hover">
                  <a>
                    <%= current_user.email %>
                    <%= "(Admin)" if current_user.role == 'admin' %>
                  </a>
              </li>
              <li class="with_icon">
                <%= link_to(edit_user_registration_path) do %>
                  <%= "#{image_tag("key.svg", class: "nav-icon")} Edit password".html_safe %>
                <% end %>
              </li>
              <li class="with_icon">
                <%= link_to destroy_user_session_path, method: :delete do  %>
                  <i class="glyphicon glyphicon-log-out nav-glyphicon"></i>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to('註冊', new_user_registration_path) %></li>
              <li><%= link_to('登入', new_user_session_path) %></li>
            <% end %><!-- if current_user -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= render partial: "admin/restaurants/alert" %>   
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
