<!DOCTYPE html>
<html>
  <head>
    <title>RestautantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar-fixed-top my-nav navbar navbar-default">
      <div class="container" id="nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <a class="navbar-brand" href="/">Fake yelp</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="pull-right nav navbar-nav">
            <% if current_user %>
              <li>
                <!-- Button for admin to switch between front and back -->
                <% if current_user.role == 'admin' %>
                  <% if request.url.include? 'admin' %>
                    <!-- Computer Upload by Andrejs Kirma from the Noun Project -->
                    <%= link_to "進入前台", root_path %>
                  <% else %>
                  <!-- Computer Download by Andrejs Kirma from the Noun Project -->
                    <%= link_to "進入後台", admin_restaurants_path %>
                  <% end %>
                <% end %>
              </li>
              <li id="non-hover">
                  <a>
                    <%= current_user.email %>
                    <% if current_user.role == 'admin' %>
                      (管理員)
                    <% else %>  
                      (一般使用者)
                    <% end %>
                  </a>
              </li>
              <li>
                <%= link_to('修改密碼', edit_user_registration_path) %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do  %>
                  <i class="glyphicon glyphicon-log-out"></i>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to('註冊', new_user_registration_path) %></li>
              <li><%= link_to('登入', new_user_session_path) %></li>
            <% end %><!-- if current_user -->
          </ul>
        </div>
      </div>
    </nav>

<!-- Dismissible Alert -->
    <% unless notice == nil %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% unless alert == nil %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>yooooo
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
